{% extends 'baseBackOffice.html.twig' %}
{% block title %}Add Event {% endblock %}
{% block body %}
   <main class="main-content border-radius-lg ">
    <div class="container-fluid py-4">

{% block main %}
    <h3 class="event-title">Add New Event</h3> <hr class="title-hr">
     {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
     {{ form_errors(form) }} {# Render all form-level errors #}
    <div class="row">
        <div class="col-md-12">
            <div class="event-label">{{ form_label(form.name) }}</div> 
            {{ form_widget(form.name, { 'attr': { 'class': 'form-control' ~ (not form.vars.valid ? ' is-invalid' : ''), 'placeholder': 'Enter Event\'s name'} } )}}
            <div class="text-danger">{{ form_errors(form.name) }}</div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="event-label">{{ form_label(form.description) }}</div> 
            {{ form_widget(form.description, { 'attr': { 'class': 'form-control' ~ (not form.vars.valid ? ' is-invalid' : ''), 'placeholder': 'Describe your event'} } )}}
            <div class="text-danger">{{ form_errors(form.description) }}</div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="event-label">{{ form_label(form.image) }}</div> 
            {{ form_widget(form.image, { 'attr': { 'class': 'form-control' ~ (not form.vars.valid ? ' is-invalid' : ''),
            'accept': 'image/png, image/jpeg, image/jpg'} } )}}

            <div class="text-danger">{{ form_errors(form.image) }}</div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="event-label">{{ form_label(form.coach) }}</div> 
            {{ form_widget(form.coach, { 'attr': { 'class': 'form-control' ~ (not form.vars.valid ? ' is-invalid' : '')} } )}}
            <div class="text-danger">{{ form_errors(form.coach) }}</div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="event-label">{{ form_label(form.MeetingCode) }}</div> 
            {{ form_widget(form.MeetingCode, { 'attr': { 'class': 'form-control' ~ (not form.vars.valid ? ' is-invalid' : ''), 'placeholder': 'Set Meet code'} } )}}
            <div class="text-danger">{{ form_errors(form.MeetingCode) }}</div>
            
        </div>
    </div>
    
    
        <div class="col-md-12">
            <div class="event-label">{{ form_label(form.day) }}</div>
            {{ form_widget(form.day, { 'attr': { 'class': 'form-control' ~ (not form.vars.valid ? ' is-invalid' : '')} } )}}
            <div class="text-danger">{{ form_errors(form.day) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="event-label">{{ form_label(form.heureDebut) }}</div> 
                {{ form_widget(form.heureDebut, { 'attr': { 'class': 'form-control' ~ (not form.vars.valid ? ' is-invalid' : '')} } )}}
                <div class="text-danger">{{ form_errors(form.heureDebut) }}</div>
            </div>
            <div class="col-md-6">   
                <div class="event-label">{{ form_label(form.heureFin) }}</div> 
                {{ form_widget(form.heureFin, { 'attr': { 'class': 'form-control' ~ (not form.vars.valid ? ' is-invalid' : '')} } )}}
                <div class="text-danger">{{ form_errors(form.heureFin) }}</div>
            </div> 
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    {{ form_end(form) }}
    
{% endblock %}
<!-- Footer block-->
{% block footer %}
        <main class="main-content border-radius-lg ">
        <footer class="footer py-4  ">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          © <script>
            document.write(new Date().getFullYear())
          </script>,
          made with <i class="fa fa-heart"></i> by
          <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">BellyBump Team</a>
          for a better web.
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank"> </a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank"></a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank"></a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</main>
        {% endblock %}
         <style>
          label {
                color: black;
                font-weight: bold ;
            }
          input[type="text"].form-control ,select.form-control, textarea.form-control,input[type="file"].form-control{
            border: 1px solid #000; /* Add stroke */
            }
            textarea.form-control.is-invalid{
            border: 1px solid #000; /* Add stroke */
            }
         ul {
            list-style-type: none;
        }
         .form-control.is-invalid{
            border: none ;
         }
         .title-hr {
            border: 1.5px solid #E91E63; /* Set border properties */
            margin-top: 10px; /* Adjust margin top */
            margin-bottom: 20px; /* Adjust margin bottom */
            opacity :1;
        }
        .event-title{
            color: #E91E63;
        }

         </style>
       </main>
    
        {% endblock %}