{% extends 'base.html.twig' %}

{% block header %}
   <header id="header" class="header  d-flex ">
    <div class="container-fluid d-flex  justify-content-between">
      <!-- Nav Menu -->
      <nav id="navmenu">
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      <a class="btn-getstarted" href="{{ path('app_register') }}" >Get Started</a>
    </div>
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </header><!-- End Header -->
{% endblock %}
{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">
        <img src="frontOffice/assets/img/hero-bg.webp" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2>Embrace Motherhood: Welcome to BellyBump</h2>
                    <p>Where Motherhood's Challenges Transform into Triumphs</p>
                </div>
                <div class="col-lg-6">
                    <form method="post" action="{{ path('app_login') }}" novalidate>
                        {% if error %}
                            {% if app.request.get('_username') == '' or app.request.get('_password') == '' %}
                                <div class="alert alert-danger">Please fill in all fields</div>
                            {% else %}
                                <div class="alert alert-light">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        {% endif %}
                        <label for="username">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" placeholder="enter your email" required autofocus>
                        <label for="password">Password</label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" placeholder="enter your password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="mt-3">Forgot Password?
                            <a href='{{path('app_forgot_password_request')}}' class="text-red" style="text-decoration: none;">reset password</a>
                            <button class="btn btn-lg btn-primary float-end is-invalid" type="submit" style="background-color: #AB3319; margin-left:  10px;">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->
{% endblock %}
