{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }} {# Include parent stylesheets from the base template #}
    <link href="{{ asset('frontOffice/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/css/main.css') }}" rel="stylesheet">
    {{ parent() }}
    {% endblock %}
{% block title %}New InfoMedicaux{% endblock %}

{% block body %}
    <h1 style="margin-left: 150px">Create new InfoMedicaux</h1>

    {{ include('info_medicaux/_form.html.twig') }}

    
{% endblock %}
