{% extends 'baseBackOffice.html.twig'%}

{% block body %}
      <main class="main-content border-radius-lg ">
              <section id="hero" class="hero">


        <img src="frontoffice/assets/img/hero-bg.webp" alt="" data-aos="fade-in">

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 data-aos="fade-up" data-aos-delay="100">want to become our partner</h2>
                    <p data-aos="fade-up" data-aos-delay="200">fill this form and welcome to our shop </p>
                </div>
                <div class="col-lg-5">
                    {{ form_start(fpartner) }}
                    <!-- ... champs du formulaire ... -->
                    <div class="row gy-4">
                        <label for="inputText" class="col-sm-4 col-form-label">name</label>
                        <div class="col-md-6">
                            {{ form_widget(fpartner.nom,{'attr':{'class':'form-control'}}) }}
                        </div>
                        <label for="inputText" class="col-sm-4 col-form-label">email</label>
                        <div class="col-md-6">
                            {{ form_widget(fpartner.email,{'attr':{'class':'form-control'}}) }}
                        </div>
                        <label for="inputText" class="col-sm-4 col-form-label">marque</label>
                        <div class="col-md-6">
                            {{ form_widget(fpartner.marque,{'attr':{'class':'form-control'}}) }}
                        </div>
                        <label for="inputText" class="col-sm-4 col-form-label">description</label>
                        <div class="col-md-6">
                            {{ form_widget(fpartner.description,{'attr':{'class':'form-control'}}) }}
                        </div>





                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message" style="color: #bb2d3b"> Thank you!</div>

                            {{ form_widget(fpartner.add,{'attr':{'class':'btn btn-primary'}}) }}
                        </div>

                    </div>
                    {{ form_end(fpartner)}}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </section>

<div class="container-fluid py-4">
{% block main %}
{% endblock %}
       </main>
        {% endblock %}