{% extends 'back.html.twig' %}

{% block title %}Establishment index{% endblock %}

{% block body %}
    <h1>Establishment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Localion</th>
                <th>Type</th>
                <th>Number of Doctors</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etab in etabs %}
            <tr>
                <td>{{ etab.id }}</td>
                <td>{{ etab.nom }}</td>
                <td>{{ etab.localisation }}</td>
                <td>{{ etab.type }}</td>
                <td>{{ etab.nbrMedcin }}</td>
                <td>
                    <a href="{{ path('app_etab_show', {'id': etab.id}) }}">show</a>
                    <a href="{{ path('app_etab_edit', {'id': etab.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etab_new') }}">Create new</a>
{% endblock %}
