{% extends 'base.html.twig' %}

{% block title %}Establishment index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
       
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            width: 300px;
            margin: 10px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            text-align: center;
        }
         h1 {
            color: black;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block body %}
  <h1>welcome in our list of establishments</h1>
    <div class="content">
    
     
        {% for etab in etabs %}
            <div class="card">
                <h2>{{ etab.nom }}</h2>
                <p><strong>Location:</strong> {{ etab.localisation }}</p>
                <p><strong>Type:</strong> {{ etab.type }}</p>
                
               <a href="{{ path('app_medFront_index', {'id': etab.id}) }}" class="view-med-btn">View Doctors</a>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>
{% endblock %}
