{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} {# Include parent stylesheets from the base template #}
    <link href="{{ asset('frontOffice/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ asset('frontOffice/assets/css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                  
                 
                </div>
            </div>
            <div class="col-md-5 border-right">
               {{ form_start(passwordUpdateForm) }}
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Edit Password</span>
                        <span class="border px-3 p-1 add-experience">
                            <i class="fa fa-plus"></i>&nbsp;Experience
                        </span>
                    </div><br>
                    <div class="col-md-12">
                    {{ form_label(passwordUpdateForm.plainPassword.first) }}
                    {{ form_widget(passwordUpdateForm.plainPassword.first, {'attr': { 'class':"form-control" ,'placeholder': 'enter your new password' }}) }}
                        <div class="error-message"><Strong>{{ form_errors(passwordUpdateForm.plainPassword.first) }}</Strong></div>
                    </div>
                    <br>
                    <div class="col-md-12">
                    {{ form_label(passwordUpdateForm.plainPassword.second) }}
                    {{ form_widget(passwordUpdateForm.plainPassword.second, {'attr': { 'class':"form-control" ,'placeholder': 'enter your new password' }}) }}
                        <div class="error-message"><Strong>{{ form_errors(passwordUpdateForm.plainPassword.second) }}</Strong></div>
                    </div>
                    </div>
                </div>
                 {{ form_end(passwordUpdateForm) }}
            </div>
        </div>
    </div>
{% endblock %}
