{% extends 'back.html.twig' %}

{% block title %}List of Doctors{% endblock %}

{% block body %}

    <h1>List of doctors</h1>
<input id="search-input" type="form-control" placeholder="Search...">
<title>AJAX Search Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#search-input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Full name</th>
                <th>Speciality</th>
                 <th>Etablissement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for med in meds %}
            <tr>
                <td>{{ med.id }}</td>
                <td>{{ med.nom }}</td>
                <td>{{ med.prenom }}</td>
                <td>{{ med.specialite }}</td>
                <td>{{ med.etab.nom }}</td>
                <td>
                <a href="{{ path('app_med_show', {'id': med.id}) }}" class="btn btn-info">Show</a>
                   <a href="{{ path('app_med_edit', {'id': med.id}) }}" class="btn btn-primary">Edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_med_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
