{% extends 'base.html.twig' %}

{% block title %}List of Doctors{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            width: 300px;
            margin: 10px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content">
        {% for med in meds %}
            <div class="card">
                <h2>{{ med.nom }}</h2>
                <p><strong>Full Name:</strong> {{ med.prenom }}</p>
                <p><strong>Speciality:</strong> {{ med.specialite }}</p>
                 <p><strong>Etablissement:</strong> {{ med.etab.nom}}</p>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>
{% endblock %}
