{% extends 'base.html.twig' %}

{% block title %}List of Doctors{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
           margin: 1em auto; max-width: 700px; width: 80%; font: 18px/1.5 sans-serif;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
           
        }

        .card {
            width: 300px;
            margin: 10px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content">
        {% for med in meds %}
            <div class="card">
                <h2>{{ med.nom }}</h2>
                <p><strong>Full Name:</strong> {{ med.prenom }}</p>
                <p><strong>Speciality:</strong> {{ med.specialite }}</p>
                 <p><strong>Etablissement:</strong> {{ med.etab.nom}}</p>
                   <a href="{{ path('app_rendez_vous_front', {'id': med.id}) }}" class="view-med-btn">View appointment</a>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>
{% endblock %}
